---
// Social footer links
---

<footer>
  <a href="https://twitter.com/tyang209" target="_blank" rel="noopener">Twitter</a>
  <a href="mailto:tyang209@gmail.com">Email</a>
  <a href="https://instagram.com/tyang209" target="_blank" rel="noopener">Instagram</a>
  <a href="https://www.imdb.com/name/nm7032448/" target="_blank" rel="noopener">IMDb</a>
</footer>
